* {
    margin: 0;
}

body {
    background-color: bisque
}

header, footer{
    background-color: firebrick;
    color: #ad1;;
    text-align: center;
}

li {
    border: solid black 1px;
    display: inline;
    padding: 1px 10px;
    margin: 40px;
    background-color: cyan;
    color: hotpink;
}

section {
    background-color: purple;
    color:khaki;
    text-align: center;
}

section p {
    text-align: left;
    margin: 0px 10px;
}

#section1 {
    width: 95%;
}
